body {background-image: url(http://images.clipartpanda.com/baseball-field-clipart-baseball-diamond-19047917.jpg);

}

h4{
    background-color:rgb(255, 230, 0);
    line-height: 80px;
    text-align: center;
}   